<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<form action="/edit/{id}" method="post">
    <input type="text" name="name" placeholder="nhap ten" value="{name}">
    <input type="text" name="price" placeholder="nhap gia" value="{price}">
    <input type="text" name="quality" placeholder="nhap so luong" value="{quality}">
    <input type="text" name="color" placeholder="nhap mau sac" value="{color}">
    <input type="text" name="description" placeholder="nhap mo ta" value="{description}">
    <select name="idCategory">
        {categories}
    </select>
    <button type="submit">sua</button>
</form>
</body>
</html>