<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form method="post" action="/home">
    <input type="search" placeholder="nhap ten" name="search" id="search">
    <button type="submit"> SEARCH</button>
</form>
<a href="/create">tao moi</a>
<table border="1">
    <tr>
       <td>thu tu</td>
        <td> ten </td>
        <td> so luong</td>
        <td>color</td>
        <td> mo ta</td>
        <td> them</td>
    </tr>
    <tbody>
    {products}

    </tbody>
</table>
</body>
</html>